
nav img{
	display: block;
	height: 50px;
}

.navbar{
	background-color:red;
}

.nav-item{
	font-weight: bold;
}
.lettre{
	color: rgba(1211,2221,3,32);
	font-family:amin;

}
.dropdown-menu .nav-item{
	font-weight: bold;
}
.container-fluid .text-danger{
	font-style: italic;
}
.container-fluid .text-info{
	font-weight: bold;
}
