

form .form-label{
	color: white;
}
h2{
	color: white;
	text-align: center; 
	color:#fff;
}
.container{
	border: 1px solid red;
	margin-top: 100px;
	padding:50px;
	border: none;
}
form {
	border: 1px solid red;
	margin-top: 10px;
	padding: 10px;
}
.well{
	background-color: rgba(10,5,3,0.4);
	border: none;
	border-radius: 15px/15px;
	box-shadow:  12px 3px 3px white;

}
form .btn{
	border: 1px solid red;
	margin-top: 10px;
	border: none;
}

